*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.btn{
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    color: orange;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: orange;
    color: #151515;
}

.off{
    display: none;
}

.laranja{
    color: orange;
}

li{
    list-style: none;
    margin-top: 1rem;
    border-bottom: 2px solid transparent;
}

li:hover{
    border-bottom: 2px solid orange;
    cursor: default;
}